<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hangfire.Highlighter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hangfire.Highlighter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="Hangfire">Hangfire Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hangfire.Highlighter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jquery.signalR")*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
    $(function () {
        $('#sourceCode[data-subscribe="True"]').each(function () {
            var snippetId = $(this).data('snippet');
            var snippet = $.connection.snippetHub;

            snippet.client.highlight = function (highlightedCode) {
                $('#sourceCode').html(highlightedCode);
            };

            console.log('Connecting to the SnippetHub');

            $.connection.hub.start().done(function () {
                console.log('Subscribing to snippet #' + snippetId);
                snippet.server.subscribe(snippetId);
            });
        });
    });
    </script>

</body>
</html>
